<br />
<br />
<br />

<h1>
    @Html.ActionLink("  AdministerUsers", "AdminUsers", "", new { @class = "glyphicon glyphicon-user" })<br />
    @Html.ActionLink("  AdministerItems", "AdminItems", "", new { @class = "glyphicon glyphicon-barcode" })<br />
    @Html.ActionLink("  AdministerOrders", "AdminOrders", "", new { @class = "glyphicon glyphicon-th-list" })
</h1>